/* todos os elementos da página */
* {
    margin: 0;
    padding: 0;
}
    
/* elementos com ID "título" */
#titulo {
    font-family: sans-serif;
    justify-content: center;
    color: #000000;
    margin-left: 30%;
}

/* elementos com ID "imgcard" */
.imgcard {
    height: 190px;
    width: 175px;   /* ajuste a largura conforme necessário */
    margin-left: 30%;
    justify-content: center;  /*espaço entre a imagem e o formulário */
}

#check {
    display: inline-block;
}

/* elementos de tag <fielset> */
fieldset {
    border: 0;
}

/* elemento de tag <body> */
body {
    background-color: burlywood;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    color: #000000;
    margin-right: 22%;
    margin-left: 10%; /*ajuste conforme necessário */
    margin-top: 2%;
}

/* contêiner flexível  */
.conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

div {
    padding: 5px;
    margin-left: 30%;
}

/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    border-radius: 5px;
}

/* Elementos de classe "grupo" nos estados das pseudoclasses "before" e "after" */
.grupo:before, .grupo:after {
    display: table;
}

/* Elementos de classe "grupo" no estado da pseudoclasse "after" */
.grupo:after {
    clear: both;
}

/* elementos de classe "campo" */
.campo {
    margin-bottom: 1em;
}

/* Elementos de classe "campo" de tag <label> */
.campo label {
    margin-bottom: 0.2em;
    color:brown;
    display: block;
}

/* elementos de classe "campo" ou "grupo" de tag <fieldset>*/
fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

/* Elementos de classe "campo" das tags <input> com atributo text e email, da tag <select> e da tag <textarea> */
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px rgba(39, 31, 31, 0.703);
    display: block;
}
.campo input[type="text"], .campo input[type="password"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px rgba(39, 31, 31, 0.703);
    display: block;
}

/* Elementos de classe "campo" de tag <select> e <option> */
.campo select option {
    padding-right: 1em;
}

/* Elemento de classe "campo" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus" */
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}

/* Elemento de classe "botao" */
.botao {
    font-size: 1.2em;
    background: #000000;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    cursor: pointer;
    margin-left: 30%;
    justify-content: center;
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao:hover {
    background: #220184;
    box-shadow: inset 2px 2px 4px rgba(54, 51, 51, 0.2);
    text-shadow: none;
}

/* id para mudar a cor da letra */
#curso, #titulodata {
    color: rgb(113, 36, 21);
 }

 p {
    color: rgb(113, 36, 21);
    display:block
 }
 